h1 {
  color: blue;
}

h2 {
  font-style: italic;
  color: darkblue;
}

p {
  color: darkblue;
}

body {
  background-color: #dddddd;
  font-family: fantasy;
  text-align: center;
}

ul {
  text-align: center;
}
